body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1,
h4,
p {
  margin: 0;
}
.bg-container {
  background-color: rgb(52, 49, 75);
  /* padding: 1.5rem 3rem 1.5rem 4rem; */
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-container {
  background-color: rgb(28, 26, 43);
  border-radius: 1rem;
  height: 35vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.header {
  min-height: 10vh;
  background-color: rgb(241, 106, 99);
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  display: flex;
  align-items: center;
  padding: 0rem 0.5rem 0rem 0.9rem;
}
.icon {
  height: 3.2rem;
  width: 3.2rem;
  border: 0.18rem solid #ffffff;
  border-radius: 2rem;
  object-fit: fill;
}
.image-container {
  display: flex;
  max-width: 35vw;
}
.names-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  color: white;
  gap: 0.8rem;
}
.chat-container {
  display: flex;
  flex-direction: column;
  min-height: 21vh;
  margin: 0.8rem 0.8rem 0.8rem 0.8rem;
  box-sizing: border-box;
}
.chat-text-container {
  flex-grow: 1;
  box-sizing: border-box;
  display: flex;
  margin-top: 1.5rem;
}
.msg-box {
  margin-left: 1.5rem;
}
.write-msg-container {
  display: flex;
  border-radius: 1.8rem;
  border: 0.1rem solid rgb(241, 106, 99);
  background-color: rgb(52, 49, 75);
  width: 28vw;
  align-self: flex-end;
}
.textarea {
  background-color: rgb(52, 49, 75);
  color: white;
  width: 20vw;
}
input {
  padding: 0.6rem;
  background-color: transparent;
  border: none;
  width: 28vw;
  color: white;
}
.plane {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 0.4rem;
}
.plane-container {
  background-color: rgb(28, 26, 43);
  border-top-right-radius: 1.8rem;
  border-bottom-right-radius: 1.8rem;
  border: 0.1rem solid rgb(241, 106, 99);
}
.cancel-icon {
  width: 13vw;
  align-self: flex-end;
}
.bg-cancel {
  display: flex;
  justify-content: center;
  background-color: rgb(241, 106, 99);
  width: 1vw;
  padding: 1.4rem 0.9rem 1.4rem 0.9rem;
  border: 0.12rem solid #ffffff;
  border-radius: 4rem;
  margin-top: 0.4rem;
}
.msg-box {
  color: white;
  background-color: rgb(52, 49, 75);
  padding: 1rem;
  clip-path: polygon(
    6% 0,
    70% 0%,
    100% 0,
    100% 67%,
    5% 69%,
    5% 25%,
    0 20%,
    6% 16%
  );
  border-radius: 1rem;
  padding-left: 2rem;
}
