body,
h1,
p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  padding: 0;
}
.bg-container {
  background-color: #f0f8ff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.audio-bg {
  min-height: 80vh;
  width: 23vw;
  background-color: white;
  padding: 2rem;
  box-shadow: 1rem 1rem 1rem rgb(207, 242, 205);
}
.active {
  color: black;
}
.para {
  color: rgb(117, 114, 114);
}
.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 23vw;
}
.music-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(117, 114, 114);
}
.audio-image {
  height: 16rem;
  width: 18rem;
  margin-top: 0.5rem;
}
.line {
  width: 23vw;
  height: 0.1rem;
  margin-top: 1rem;
  background-color: rgb(117, 114, 114);
}
.time-container {
  display: flex;
  justify-content: space-between;
  color: rgb(117, 114, 114);
}

.play-icons {
  margin-top: 1.8rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.songs-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.songs-list {
  margin-top: 2rem;
}
.each-song {
  display: flex;
  justify-content: space-between;
}
.play-icon {
  margin-top: 0;
}
.style-type {
  list-style-type: square;
}
.span-container {
  display: flex;
}
.span {
  color: green;
  height: 5px;
  width: 5px;
  margin-top: -5px;
}
