body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h1,
p {
  margin: 0;
}
.bg-container {
  background-color: aliceblue;
  min-height: 100vh;
  display: flex;
}

.add-task-container {
  width: 40vw;
  margin-left: 3rem;
}
form {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: 2rem;
  width: 20vw;
}
.input {
  padding: 0.5rem;
  background-color: aliceblue;
  border: 0.16px solid rgb(203, 199, 199);
  border-radius: 0.2rem;
}

.heading {
  color: rgb(75, 75, 230);
}
.text {
  color: rgb(75, 75, 230);
  margin-top: 1.5rem;
  margin-bottom: 0.4rem;
}
.submit-button {
  background-color: rgb(75, 75, 230);
  color: #ffffff;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin-top: 0.8rem;
  border: none;
  border-radius: 0.2rem;
}
.bg-text {
  background-color: white;
}
.display-task-container {
  background-color: #ffffff;
  display: flex;
  align-self: flex-start;
  margin-left: 2rem;
  gap: 2rem;
  padding: 2rem;
  border-radius: 0.8rem;
  margin-top: 10rem;
  width: 30vw;
}
.bosh-icon {
  height: 3rem;
  width: 3rem;
}
.para {
  color: rgb(75, 75, 230);
}
.comment-container {
  width: 25vw;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 1rem;
}
.icon-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.category {
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.2rem;
}
.priority-container {
  display: flex;
}
.about-task-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.priority-container {
  display: flex;
  justify-content: space-between;
}
.priority-button {
  background-color: rgb(214, 55, 119);
  border: none;
  color: white;
  border-radius: 0.2rem;
}
